body {
    background-image: url( "images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    width: 800px;
    margin: auto;
}

header {
    padding: 40px;
    height: 80px;
    color: black;
    font-size: 0.9em;
    text-align: center;
}

#title{
  font-weight: bold;
}

nav {
    padding: 8px 40px;
    text-decoration: none;
    color: white;
    font-size : 0.7em;
}

nav .menu1{
  color: yellow;
  font-weight: bold;
}


a{
  color: white;
}

a:link{
  text-decoration: none;
  color: white:
}

#contents{
    padding: 40px;
    height : 400px;
}

#contents p{
  font-size: 1.2em;
  color: white;
}

footer {
    padding: 40px;
    height: 40px;
    color: red;
    font-size: 0.5em;
    text-align: center;
}
